@import "tailwindcss";

.main {
    background-image: url('/images/zeusHero.jpeg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 

    /* Mobile Optimization */
    @media (max-width: 768px) {
        background-size: cover;
      
    }
}
