@import "tailwindcss";

.main {
    background-image: url('/images/zeusHero.jpeg');
    height: 100%;
    background-size: auto; /* Ensures the image covers the entire element */ /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
